  <section class="welcome">
             <p id="notice"><%= notice %></p>
            <h1>Gewitterへようこそ</h1>
            <h2>Gewitterとは、雷雨という意味で、雷雨の如く沢山のメッセージを次々と書いてくださいね。</h2>
 <section class="main-header">
            <img src="<%=asset_path "thunder.png" %>">
        </section>
       
            
        </section>
        